# Sistema
.DS_Store
Thumbs.db

# Archivos temporales de edición de video
*.tmp
*.part

# Dependencias (si más adelante agregas herramientas de node)
node_modules/

# Respaldos locales (no se publican)
Versiones/

# Otros
Desktop.ini
*~
~$*

_audio-build/
_audio-demo/
